*{
  margin: 0;
  padding: 0;
  cursor: default;
  user-select: none;
}

html{
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen{
  background-color: #2e436c;
  width: 100vw;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

.agent-img{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-200%) translateY(10%) scale(1.45);
  transition: transform 250ms; 
}

.agent-img.active{
  transform: translateX(-50%) translateY(10%) scale(1.45);
}

.detail-box{
  position: absolute;
  top: 10%;
  right: 3%;
  height: 60%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}

.detail-box::before{
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 0.2%;
  top: 8%;
  left: -3%;
}

.title{
  color: white;
}

h6{
  position: absolute;
  letter-spacing: calc(1px + 0.5vw);
  font-size: calc(1px + 1vw);
}

h1{
  font-size: calc(1px + 6vw);
  color: #ecf1bf;
}

.ability-container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ability-box{
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 19%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.ability-box:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

h5{
  display: flex;
  justify-content: center;
  font-size: calc(1px + 1vw);
  color: white;
}

h5::after{
  content:"";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 2%;
  top: 26%;
}

.logos{
  padding: 10%;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.discription{
  font-size: calc(1px + 1vw);
  width: 90%;
}

.agent-discription{
  color: #ecf1bf;
  font-weight: bold;
}

.class-discription{
  color: white;
}

.agent-button-container{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 10%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agent-button-container::before{
  content: "";
  background-color: #e3eeb6;
  width: 90%;
  height: 1%;
  position: absolute;
  top: -10%;
}

.agent-button{
  height: 90%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0.2%;
  border: 0.2vw solid #a9dadc;
}

.agent-button:hover > .agent-icon{
  background-color: rgba(169,218,220, 0.5);
}

.agent-button.selected{
  outline: 0.2vw solid #e3eeb6;
  outline-offset: 0.2vw;
  background-color: rgba(169,218,220, 0.3)
}

.agent-icon{
  object-fit: fill;
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(169,218,220, 0.3);
}


@media (min-aspect-ratio: 16/9) {
  .screen{
    width: auto;
    height: 100vh;
  }

  h6{
    font-size: calc(1px + 1.7778vh);
  }
  
  h1{
    font-size: calc(1px + 10.6667vh);
  }

  h5{
    font-size: calc(1px + 1.7778vh);
  }

  .discription{
    font-size: calc(1px + 1.7778vh);
  }

  .agent-button{
    border: 0.3555vh solid #a9dadc;
  }

  .agent-button.selected{
    outline: 0.3555vh solid #e3eeb6;
    outline-offset: 0.1vw;
  }
}



